#!/bin/bash
# iptables firewall for common LAMP servers.
#
# This file should be located at /etc/firewall.bash, and is meant to work with
# Jeff Geerling's firewall init script.
#
# Common port reference:
#   22: SSH
#   25: SMTP
#   80: HTTP
#   123: NTP
#   443: HTTPS
#   2222: SSH alternate
#   4949: Munin
#   6082: Varnish admin
#   8080: HTTP alternate (often used with Tomcat)
#   8983: Tomcat HTTP
#   8443: Tomcat HTTPS
#   9000: SonarQube
#
# @author Jeff Geerling

# No spoofing.
if [ -e /proc/sys/net/ipv4/conf/all/rp_filter ]
then
	for filter in /proc/sys/net/ipv4/conf/*/rp_filter
	do
		echo 1 > $filter
	done
fi

# Completely reset the firewall by removing all rules and chains.
iptables -F
iptables -F -t nat
iptables -F -t mangle
iptables -F -t raw

iptables -X
iptables -X -t nat
iptables -X -t mangle
iptables -X -t raw

# set packet policy (ACCEPT or DROP)
iptables -P INPUT {{ firewall_input_policy }}
iptables -P FORWARD {{ firewall_forward_policy }}
iptables -P OUTPUT {{ firewall_output_policy }}

# Accept traffic from loopback interface (localhost).
iptables -A INPUT -i lo -j ACCEPT
iptables -A OUTPUT -o lo -j ACCEPT

# Allow established connections:
iptables -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
iptables -A OUTPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# Forwarded ports.
{# Add a rule for each forwarded port #}
{% for forwarded_port in firewall_forwarded_tcp_ports %}
iptables -t nat -I PREROUTING -p tcp --dport {{ forwarded_port.src }} -j REDIRECT --to-port {{ forwarded_port.dest }}
iptables -t nat -I OUTPUT -p tcp -o lo --dport {{ forwarded_port.src }} -j REDIRECT --to-port {{ forwarded_port.dest }}
{% endfor %}
{% for forwarded_port in firewall_forwarded_udp_ports %}
iptables -t nat -I PREROUTING -p udp --dport {{ forwarded_port.src }} -j REDIRECT --to-port {{ forwarded_port.dest }}
iptables -t nat -I OUTPUT -p udp -o lo --dport {{ forwarded_port.src }} -j REDIRECT --to-port {{ forwarded_port.dest }}
{% endfor %}

# Open ports.
{# Add a rule for each open port #}
{% for port in firewall_allowed_tcp_ports %}
iptables -A INPUT -p tcp -m tcp --dport {{ port }} -j ACCEPT
{% endfor %}
{% for port in firewall_allowed_udp_ports %}
iptables -A INPUT -p udp -m udp --dport {{ port }} -j ACCEPT
{% endfor %}

# Allow trafic from specific IPv4 to specific port
{#Add rules for each ipv4 allowed to use service defined (TCP)#}
{% for allowed in firewall_allowed_tcp_by_ipv4 %}
iptables -A INPUT -p tcp -m tcp --dport {{ allowed.service }} -s {{ allowed.ipv4 }} -m state --state {{ allowed.state }} -j ACCEPT
{% endfor %}

{#Add rules for each ipv4 allowed to use service defined (UDP)#}
{% for allowed in firewall_allowed_udp_by_ipv4 %}
iptables -A INPUT -p udp -m udp --dport {{ allowed.service }} -s {{ allowed.ipv4 }} -m state --state {{ allowed.state }} -j ACCEPT
{% endfor %}

# Port forwarding from outside to inside
{#Add rules for each ipv4 traffic is forwarded from #}
{% for forwarded in firewall_forwarded_by_ipv4 %}
iptables -A FORWARD -o {{ forwarded.src_int }} -p tcp -s {{ forwarded.ipv4 }} --sport {{ forwarded.service }} -j ACCEPT
iptables -A FORWARD -i {{ forwarded.src_int }} -p tcp -d {{ forwarded.ipv4 }} --dport {{ forwarded.service }} -j ACCEPT

iptables -t nat -I PREROUTING -p tcp -i {{ forwarded.src_int }} --dport {{ forwarded.open_port }} -j DNAT --to {{ forwarded.ipv4 }}:{{ forwarded.service }}
iptables -t nat -A POSTROUTING -p tcp -d {{ forwarded.ipv4 }} --dport {{ forwarded.service }} -j MASQUERADE

{% endfor %}

# Accept icmp ping requests.
{% if firewall_allowed_icmp_packets %}
iptables -A INPUT -p icmp -j ACCEPT
{% endif %}

# Allow NTP traffic for time synchronization.
iptables -A OUTPUT -p udp --dport 123 -j ACCEPT
iptables -A INPUT -p udp --sport 123 -j ACCEPT

# Additional custom rules.
{% for rule in firewall_additional_rules %}
{{ rule }}
{% endfor %}

# Log EVERYTHING (ONLY for Debug).
# iptables -A INPUT -j LOG

{% if firewall_log_dropped_packets %}
# Log other incoming requests (all of which are dropped) at 15/minute max.
iptables -A INPUT -m limit --limit 15/minute -j LOG --log-level 7 --log-prefix "Dropped by firewall: "
{% endif %}

# start_custom_ipv4_rules

# end_custom_ipv4_rules

{% if firewall_input_policy == 'ACCEPT' %}
# Drop all other traffic.
iptables -A INPUT -j DROP
{% endif %}

# Configure IPv6 if ip6tables is present.
if [ -x "$(which ip6tables 2>/dev/null)" ]; then

	# Remove all rules and chains.
	ip6tables -F
	ip6tables -X

	# Accept traffic from loopback interface (localhost).
	ip6tables -A INPUT -i lo -j ACCEPT
	ip6tables -A OUTPUT -o lo -j ACCEPT

	# Allow established connections:
	ip6tables -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
	ip6tables -A OUTPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

	# Open ports.
	{# Add a rule for each open port #}
	{% for port in firewall_allowed_tcp_ports %}
        ip6tables -A INPUT -p tcp -m tcp --dport {{ port }} -j ACCEPT
	{% endfor %}
	{% for port in firewall_allowed_udp_ports %}
	ip6tables -A INPUT -p udp -m udp --dport {{ port }} -j ACCEPT
	{% endfor %}

        # Accept icmp ping requests.	
	{% if firewall_allowed_icmp_packets %}
	ip6tables -A INPUT -p icmp -j ACCEPT
	{% endif %}

	# Allow NTP traffic for time synchronization.
	ip6tables -A OUTPUT -p udp --dport 123 -j ACCEPT
	ip6tables -A INPUT -p udp --sport 123 -j ACCEPT

	# Additional custom rules.
	{% for rule in firewall_ip6_additional_rules %}
	{{ rule }}
	{% endfor %}

	# Log EVERYTHING (ONLY for Debug).
	# ip6tables -A INPUT -j LOG

	{% if firewall_log_dropped_packets %}
	# Log other incoming requests (all of which are dropped) at 15/minute max.
	ip6tables -A INPUT -m limit --limit 15/minute -j LOG --log-level 7 --log-prefix "Dropped by firewall: "
	{% endif %}

	# start_custom_ipv6_rules

	# end_custom_ipv6_rules

	{% if firewall_input_policy == 'ACCEPT' %}
	# Drop all other traffic.
	ip6tables -A INPUT -j DROP
	{% endif %}

fi
